{% extends 'base.html.twig' %}

{% block importmap %}
    {# do NOT call parent() #}
    {{ importmap(['app', 'offering_search']) }}
{% endblock %}

{% block body %}
<form action="{{ form_action }}" method="get">
    <table class='search_options'>
        <tr>
            <td colspan='2'><input type='submit' name='search' value='Search'/></td>
        </tr>
        <tr>
            <th>By Term:</th>
            <td>
                <select name="term" onchange="this.form['search'].value = ''; this.form.submit();">
                    <option value='ANY'>Any Term</option>
{% for term in terms %}
                    <option value="{{ osidIdToString(term.id) }}" {{ selectedTermId and osidIdsEqual(selectedTermId, term.id)? 'selected="selected"' }}>{{ term.displayname }}</option>
{% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <th>By Subject/Department:</th>
            <td>
                <select name="department">
                    <option value=''>Any Subject or Department</option>
                    <optgroup label='Subjects'>
{% for topic in subjects %}
                        <option value="{{ osidIdToString(topic.id) }}" {{ selectedDepartmentId and  osidIdsEqual(selectedDepartmentId, topic.id) ? 'selected="selected"' }}>{{ topic.displayname }}</option>
{% endfor %}
                    </optgroup>
                    <optgroup label='Departments'>
{% for topic in departments %}
                        <option value="{{ osidIdToString(topic.id) }}" {{ selectedDepartmentId and  osidIdsEqual(selectedDepartmentId, topic.id) ? 'selected="selected"' }}>{{ topic.displayname }}</option>
{% endfor %}
                    </optgroup>
                </select>
            </td>
        </tr>

{% if requirements is not empty %}
        <tr>
            <th>Satisfies Requirements:</th>
            <td>
                <div class='help_text'>(Leave all blank for no preference)</div>
                <div class='requirement_group'>
{% for topic in requirements %}
{% if loop.index is divisible by(5) %}
                </div>
                <div class='requirement_group'>
{% endif %}
                    <input type='checkbox' name='requirement[]' value="{{ osidIdToString(topic.id) }}" id="input-requirement-{{ osidIdToString(topic.id) }}" {{ osidIdInArray(topic.id, selectedRequirementIds)? 'checked="checked"' }}/><label for="input-requirement-{{ osidIdToString(topic.id) }}">{{ topic.displayname }}</label><br/>
{% endfor %}
                </div>
            </td>
        </tr>
{% endif %}

        <tr>
            <th>Keywords:</th>
            <td>
                <input class='text_input' type='text' name='keywords' value="{{ keywords }}" />
                <div class='help_text'>By default results only have to match one of the supplied keywords. Use a plus (+) before a word to require it or a minus (-) to exclude it. Use an asterisk (*) as a wildcard.</div>
            </td>
        </tr>

{% if searchParams.days is iterable %}
        <tr>
            <th>Days of the week:</th>
            <td>

                <input type='checkbox' name='days[]' value='sunday' id='input-days-sunday' {{ 'sunday' in searchParams.days ? 'checked="checked"' }} /> <label for='input-days-sunday'>Sunday</label>
                <input type='checkbox' name='days[]' value='monday' id='input-days-monday' {{ 'monday' in searchParams.days ? 'checked="checked"' }} /> <label for='input-days-monday'>Monday</label>
                <input type='checkbox' name='days[]' value='tuesday' id='input-days-tuesday' {{ 'tuesday' in searchParams.days ? 'checked="checked"' }} /> <label for='input-days-tuesday'>Tuesday</label>
                <input type='checkbox' name='days[]' value='wednesday' id='input-days-wednesday' {{ 'wednesday' in searchParams.days ? 'checked="checked"' }} /> <label for='input-days-wednesday'>Wednesday</label>
                <input type='checkbox' name='days[]' value='thursday' id='input-days-thursday' {{ 'thursday' in searchParams.days ? 'checked="checked"' }} /> <label for='input-days-thursday'>Thursday</label>
                <input type='checkbox' name='days[]' value='friday' id='input-days-friday' {{ 'friday' in searchParams.days ? 'checked="checked"' }} /> <label for='input-days-friday'>Friday</label>
                <input type='checkbox' name='days[]' value='saturday' id='input-days-saturday' {{ 'saturday' in searchParams.days ? 'checked="checked"' }} /> <label for='input-days-saturday'>Saturday</label>
                <div class='help_text'>Leave all unchecked if no preference.</div>
                <br/>
                <input type='radio' name='days_mode' value='inclusive' id='input-days_mode-inclusive' {{ searchParams.days_mode is empty or searchParams.days_mode == 'inclusive'  ? 'checked="checked"' }} /> <label for='input-days_mode-inclusive'>Inclusive search -- meets on all of the selected days and possibly others</label>
                <br/>
                <input type='radio' name='days_mode' value='exclusive' id='input-days_mode-exclusive' {{ searchParams.days_mode == 'exclusive'  ? 'checked="checked"' }} /> <label for='input-days_mode-exclusive'>Exclusive search -- meets only on selected days, not on unselected days</label>
            </td>
        </tr>

        <tr>
            <th>Time:</th>
            <td>
                <label for="input-time_start">From</label>
                <select name='time_start' id="input-time_start" class='time_select'>
                    <option value='0' {{ timeStart is empty ? "selected='selected'" }}>Any Time</option>
{% for s in range(1800, 84600, 1800) %}
                    <option value="{{ s }}" {{ timeStart == s ? "selected='selected'" }}>{{ secondsToTime(s) }}</option>
{% endfor %}
                </select>

                <label for="input-time_end">To</label>
                <select name='time_end' id="input-time_end" class='time_select'>
{% for s in range(1800, 84600, 1800) %}
                    <option value="{{ s }}" {{ timeEnd == s ? "selected='selected'" }}>{{ secondsToTime(s) }}</option>
{% endfor %}
                    <option value='86400' {{ timeEnd == 86400 ? "selected='selected'" }}>Any Time</option>
                </select>
                </label>
            </td>
        </tr>
{% endif %}

        <tr>
            <th>Type:</th>
            <td>
                <div class='help_text'>(Leave all blank for no preference)</div>
                <div class='requirement_group'>
{% for type in genusTypes %}
{% if loop.index is divisible by(5) %}
                </div>
                <div class='requirement_group'>
{% endif %}
                    <input type='checkbox' name='type[]' value="{{ osidTypeToString(type) }}" id="input-requirement-{{ osidTypeToString(type) }}" {{ osidTypeInArray(type, selectedGenusTypes)? 'checked="checked"' }}/> <label for="input-type-{{ osidTypeToString(type) }}">{{ type.displayname }}</label><br/>
{% endfor %}
                </div>
            </td>
        </tr>

{% if blocks is not empty %}
        <tr>
            <th>Additional Details:</th>
            <td>
                <div class='help_text'>(Leave all blank for no preference)</div>
                <div class='requirement_group'>
{% for topic in blocks %}
{% if loop.index is divisible by(5) %}
                </div>
                <div class='requirement_group'>
{% endif %}
                    <input type='checkbox' name='block[]' value="{{ osidIdToString(topic.id) }}" id="input-block-{{ osidIdToString(topic.id) }}" {{ osidIdInArray(topic.id, selectedBlockIds)? 'checked="checked"' }}/><label for="input-block-{{ osidIdToString(topic.id) }}">{{ topic.displayname }}</label><br/>
{% endfor %}
                </div>
            </td>
        </tr>
{% endif %}

{% if instructionMethods is not empty %}
        <tr>
            <th>Course Modality:</th>
            <td>
                <div class='help_text'>(Leave all blank for no preference)</div>
                <div class='requirement_group'>
{% for topic in instructionMethods %}
{% if loop.index is divisible by(5) %}
                </div>
                <div class='requirement_group'>
{% endif %}
                    <input type='checkbox' name='instruction_method[]' value="{{ osidIdToString(topic.id) }}" id="input-instruction_method-{{ osidIdToString(topic.id) }}" {{ osidIdInArray(topic.id, selectedInstructionMethodIds)? 'checked="checked"' }}/><label for="input-instruction_method-{{ osidIdToString(topic.id) }}">{{ topic.displayname }}</label><br/>
{% endfor %}
                </div>
            </td>
        </tr>
{% endif %}

        <tr>
            <th>Level:</th>
            <td>
                <div class='help_text'>(Leave all blank for no preference)</div>
                <div class='requirement_group'>
{% for topic in levels %}
{% if loop.index is divisible by(5) %}
                </div>
                <div class='requirement_group'>
{% endif %}
                    <input type='checkbox' name='level[]' value="{{ osidIdToString(topic.id) }}" id="input-level-{{ osidIdToString(topic.id) }}" {{ osidIdInArray(topic.id, selectedLevelIds)? 'checked="checked"' }}/><label for="input-level-{{ osidIdToString(topic.id) }}">{{ topic.displayname }}</label><br/>
{% endfor %}
                </div>
            </td>
        </tr>

{% if campuses is not empty %}
        <tr>
            <th>Campus:</th>
            <td>
                <div class='help_text'>(Leave all blank for no preference)</div>
                <div class='requirement_group'>
{% for resource in campuses %}
{% if loop.index is divisible by(5) %}
                </div>
                <div class='requirement_group'>
{% endif %}
                    <input type='checkbox' name='campus[]' value="{{ osidIdToString(resource.id) }}" id="input-campus-{{ osidIdToString(resource.id) }}" {{ osidIdInArray(resource.id, selectedCampusIds)? 'checked="checked"' }}/><label for="input-campus-{{ osidIdToString(resource.id) }}">{{ resource.displayname }}</label><br/>
{% endfor %}
                </div>
            </td>
        </tr>
{% endif %}

        <tr>
            <td colspan='2'><input type='submit' name='search' value='Search'/></td>
        </tr>

    </table>
</form>

{% if paginator is not null %}
<h2>Results ({{ paginator.getTotalItemCount }})</h2>
{% if not paginator.count %}
<div class='search_empty'>No Matches</div>
{% else %}
{{ knp_pagination_render(paginator) }}
<table class='search_results'>
    <tbody>
{% for item in paginator %}
        <tr>
            <td class='column1'>
                <a class='title' href="{{ url('view_offering', {offeringId: item.offering}) }}">{{ item.offering.displayname }}</a>{{ item.is_primary ? " * " }}

                {% if item.alternates is not empty %}
                    <br/>Cross-Listed As:
                    {% for alternate in item.alternates %}
                        <br/>
                        <a href='{{ url('view_offering', {offeringId: alternate}) }}'>{{ alternate.displayname }}</a>
                        {{ alternate.is_primary ? ' * ' }}
                    {% endfor %}
                {% endif %}

                <dl>
                    <dt>Type:</dt>
                    <dd>{{ item.offering.genustype.displayname }}</dd>

                {% if item.instructionMethodTopics is not empty %}
                    <dt>Course Modality:</dt>
                    <dd>
                    {% for topic in item.instructionMethodTopics %}
                        <a href='{{ url('view_topic', {topicId: topic, catalogId: catalogId, termId: item.offering.term}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
                    {% endfor %}
                    </dd>
                {% endif %}

                    <dt>Term:</dt>
                    <dd><a href='{{ url('view_term', {termId: item.offering.term}) }}'>{{ item.offering.term.displayname }}</a></dd>

                    <dt>Department:</dt>
                    <dd>
                    {% for topic in item.departmentTopics %}
                        <a href='{{ url('view_topic', {topicId: topic, catalogId: catalogId, termId: item.offering.term}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
                    {% endfor %}
                    </dd>

                    <dt>Requirements Fulfilled:</dt>
                    <dd>
                    {% for topic in item.requirementTopics %}
                        <a href='{{ url('view_topic', {topicId: topic, catalogId: catalogId, termId: item.offering.term}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
                    {% endfor %}
                    </dd>

                {% if item.blockTopics is not empty %}
                    <dt>Additional Details:</dt>
                    <dd>
                    {% for topic in item.blockTopics %}
                        <a href='{{ url('view_topic', {topicId: topic, catalogId: catalogId, termId: item.offering.term}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
                    {% endfor %}
                    </dd>
                {% endif %}

                </dl>
            </td>

            <td class='column2'>
                {{ include(
                    'schedules/bookmark_control.html.twig',
                    {
                        courseId: item.offering.course.id,
                    },
                    with_context = false
                )}}

                <div class='title'>{{ item.offering.title }}</div>
                <div class='description'>{{ item.offering.description | raw }}</div>

                <dl>

                {% if item.instructors is not null %}
                    <dt>Instructors:</dt>
                    <dd>
                    {% for instructor in item.instructors %}
                        <a href='{{ url('view_resource', {resourceId: instructor, termId: item.offering.term}) }}'>{{ instructor.displayname }}</a>{{ not loop.last ? ',' }}
                    {% endfor %}
                    </dd>
                {% endif %}

                {% if item.location %}
                    <dt>Location:</dt>
                    <dd>
                        <a href='{{ url('view_resource', {resourceId: item.location, termId: item.offering.term}) }}'>{{ item.location.displayname }}</a>
                        {% if item.location.description %}
                            <span class='location_description'>{{ item.location.description }}</span>
                        {% endif %}
                    </dd>
                {% elseif item.offering.locationinfo %}
                    <dt>Location:</dt>
                    <dd>{{ item.offering.locationinfo }}</dd>
                {% endif %}

                {% if item.offering.scheduleinfo %}
                    <dt>Schedule:</dt>
                    <dd>{{ item.offering.scheduleinfo|nl2br|noWrapParentheticals|raw }}</dd>
                {% endif %}

                {% if item.availabilityLink is not empty %}
                    <dt>Availability:</dt>
                    <dd>{{ item.availabilityLink|raw }}</dd>
                {% endif %}

                </dl>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
{{ knp_pagination_render(paginator) }}
{% endif %}
{% endif %}

{% endblock %}
