<div class='bookmark_controls'>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <h4>Bookmark this course</h4>
    <div class='save_course'>
        <input type='hidden' name='course_id' value="{{ osidIdToString(course_id) }}"/>
        <a href="{{ url("remove_bookmark", {course: osidIdToString(course_id)}) }}"
            {{ not isBookmarked(course_id) ? " style='display: none;'" }}
            title='click to forget' class='forget'
        >
            <img src=" {{ asset("images/Crystal_Clear/Crystal_Clear_action_bookmark.png") }}" alt="star icon"/>
            Saved
        </a>
        <a href="{{ url("add_bookmark", {course: osidIdToString(course_id)}) }}"
            {{ isBookmarked(course_id) ? " style='display: none;'" }}
            title='click to save' class='save'
        >
            <img src=" {{ asset("images/Crystal_Clear/Crystal_Clear_action_bookmark_Silver.png") }}" alt="star icon"/>
            Save
        </a>
    </div>
{% else %}
    <a href="{{ url("login", {returnTo: app.request.uri }) }}">Log-in to save</a>
{% endif %}
</div>
