<div class='bookmark_controls' class="f2 float-right">
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class='save_course'>
        <input type='hidden' name='courseId' value="{{ osidIdToString(courseId) }}"/>
        <a href="{{ path("remove_bookmark", {courseId: courseId}) }}"
            {{ not isBookmarked(courseId) ? " style='display: none;'" }}
            title='click to forget' class='forget'
        >
            <img class="icon mr-1" src=" {{ asset("images/Crystal_Clear/Crystal_Clear_action_bookmark.png") }}" alt="star icon"/>
            Saved
        </a>
        <a href="{{ path("add_bookmark", {courseId: courseId}) }}"
            {{ isBookmarked(courseId) ? " style='display: none;'" }}
            title='click to save' class='save'
        >
            <img class="icon mr-1" src=" {{ asset("images/Crystal_Clear/Crystal_Clear_action_bookmark_Silver.png") }}" alt="star icon"/>
            Save
        </a>
    </div>
{% else %}
    <a href="{{ path("login", {returnTo: app.request.uri }) }}">Log-in to save</a>
{% endif %}
</div>
