{% extends 'base.html.twig' %}

{% block importmap %}
    {# do NOT call parent() #}
    {{ importmap(['app', 'schedules']) }}
{% endblock %}

{% block body %}
<h1>Schedule Planner</h1>

<table class='schedule_planner'>
    <thead>
        <tr>
            <td colspan='2'>
                <form action='#' method='get' id='schedules_term_choice'>
                    {{ include('schedules/catalog_select.html.twig', {selectedCatalogId: selectedCatalogId, catalogs: catalogs}, with_context = false) }}
                    {{ include('schedules/term_select.html.twig', {selectedCatalogId: selectedCatalogId, selectedTermId: selectedTermId, terms: terms}, with_context = false) }}
                </form>
            </td>
        </tr>
        <tr>
            <th>Saved Courses in {{ include('schedules/selected_term_name.html.twig', {selectedTermId: selectedTermId, terms: terms}, with_context = false) }}</th>
            <th>Schedules for {{ include('schedules/selected_term_name.html.twig', {selectedTermId: selectedTermId, terms: terms}, with_context = false) }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id='bookmarks_column'>
                {{ include('schedules/bookmarks.html.twig', {bookmarked_courses: bookmarked_courses, schedules: schedules, selectedCatalogId: selectedCatalogId, selectedTermId: selectedTermId}, with_context = false) }}
            </td>
            <td id='schedules_column'>
                {{ include('schedules/schedules.html.twig', {schedules: schedules, selectedCatalogId: selectedCatalogId, selectedTermId: selectedTermId, emailEnabled: emailEnabled, terms: terms}, with_context = false) }}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
