{% extends 'base.html.twig' %}

{% block importmap %}
    {# do NOT call parent() #}
    {{ importmap(['app', 'schedules']) }}
{% endblock %}

{% block body %}

{% set numHours = schedule.latesthour - schedule.earliesthour + 1 %}
{% set numOfferings = schedule.offerings | length %}
{% set hourHeight = numHours * 13 * 4 %}
{% set offeringHeight = numOfferings * 40 %}

<div class='schedule'>

    <div id='calendar' title="{{ schedule.name }}" style="height: 400px">
        <input type='hidden' name='jsonUrl' value="{{ path('schedule_events_json', {scheduleId: schedule.id}) }}"/>
        <input type='hidden' name='start_hour' value="{{ schedule.earliesthour }}"/>
        <input type='hidden' name='end_hour' value="{{ schedule.latesthour + 1 }}"/>
        <input type='hidden' name='show_sunday' value="{{ schedule.hasEventsOnSunday ? 'yes':'no' }}"/>
        <input type='hidden' name='show_saturday' value="{{ schedule.hasEventsOnSaturday ? 'yes':'no' }}"/>
    </div>

    <ul {{ hourHeight + offeringHeight > 630 ? 'style="page-break-before: always;"' }}>
{% if schedule.offerings is empty %}
        <li style='visibility: hidden'> &nbsp; </li>
{% endif %}
{% for offering in schedule.offerings %}
        <li class='offering'>
            <div class='crn'>
                CRN: {{ offering.coursereferencenumber }}
            </div>

            <div class='offering_name'>
                <a href="{{ path('view_offering', {offeringId: offering.id}) }}" target='_blank'>
                    {{ offering.displayname }}
                </a>
            </div>
            <div class='offering_title'>
                <a href="{{ path('view_offering', {offeringId: offering.id}) }}" target='_blank'>
                    {{ offering.title | nl2br }}
                </a>
            </div>

            <div class='time {{ scheduleHasCollisions(schedule, offering.id) ? "conflicting" }}'>
                {{ formatScheduleInfo(offering.scheduleinfo) | raw }}
                {% if scheduleHasCollisions(schedule, offering.id) %}
                <div class="conflicting float-right ml-4 text-caps">Conflict</div>
                {% endif %}
            </div>
            <div class='location'>
                {{ offering.locationinfo | nl2br }}
            </div>
        </li>
{% endfor %}
    </ul>
</div>
{% endblock %}
