<div title='Remove or Change Sections' class='remove_dialog'>
    <p>What do you want to do?</p>

	<button class='change_sections_button'>Change sections</button>
	<div class="change_section_dialog section_dialog" title="Include which sections?" style='display: none'>
    	<form id='change_section_form_{{ schedule.id }}_{{ osidIdToString(offering.id) | replace({'.': '_'}) }}' action="{{ url('add_to_schedule', {scheduleId: schedule.id, catalogId: selectedCatalogId, termId: selectedTermId}) }}" class="add_section_form" method="post">
            <div class='section_set' style='display: none'>Choose a group:
                <select class="section_set" name="section_set">
                    <option value='' class='loading'>Loading...</option>
                </select>
            </div>
            <div class='section_types'>Choose one option of each type:
                <ul class="section_types">
                    <li class='loading'>Loading...</li>
                </ul>
            </div>

            <input type='hidden' name='csrf_key' value='{{ csrf_token('add-to-schedule') }}' />
            <input type="submit" value="Save Changes"/>
        </form>
        <input type='hidden' name='courseId' value="{{ osidIdToString(offering.id) }}" />
        <input type='hidden' name='section_lookup_url' value='{{ url('schedule_sections_for_course', {scheduleId: schedule.id, courseId: offering.course.id, termId: schedule.termid }) }}' />
    </div>


    <form class='remove_offering_form' id='remove_section_form_{{ schedule.id }}_{{ osidIdToString(offering.id) | replace({'.': '_'}) }}' action="{{ url('remove_from_schedule', {scheduleId: schedule.id, catalogId: selectedCatalogId, termId: selectedTermId})}}" method='post'>
        <input type='hidden' name='csrf_key' value='{{ csrf_token('remove-from-schedule') }}' />
        <input type='hidden' name='offering' value='{{ osidIdToString(offering.id) }}'/>
        <input type='submit' id='submit_remove_section_form_{{ schedule.id }}_{{ osidIdToString(offering.id) | replace({'.': '_'})  }}' value='Remove all sections of {{ offering.course.displayname }}'/>
    </form>

    <button class='cancel'>Cancel</button>

</div>
<button class='remove_button' title='Remove or Change Sections'>X</button>
