            <div class="col-md-6 form-group">
                <label for="term">Term: </label>
                <select name="term" id="term" class="form-control">
{% if selectedCatalogId %}
                    <option value='{{ path('schedules', {catalogId: selectedCatalogId, termId: null}) }}'>All Terms</option>
{% for term in terms %}
                    <option value="{{ path('schedules', {catalogId: selectedCatalogId, termId: term}) }}" {{ selectedTermId and osidIdsEqual(selectedTermId, term.id) ? 'selected="selected"' }}>{{ term.displayname }}</option>
{% endfor %}
{% else %}
                    <option value='{{ path('schedules') }}'>Select a catalog to choose terms...</option>
{% endif %}

                </select>
            </div>
