{% extends 'base.html.twig' %}

{% block body %}
<h1>Course Catalog Administration</h1>
<ul>
    <li><a href="{{ url("admin_terms_list") }}">Manage Term Visibility</a></li>
    <li><a href="{{ url("list_antirequisites") }}">Manage Anti-Requisites</a></li>
    <li><a href="{{ url('export_config_form') }}">Manage Catalog Archive Configurations</a></li>
    <li><a href="{{ url("export_config_list_schedules") }}">Manage Catalog Archive Scheduling</a></li>
    <li><a href="{{ url("masquerade") }}">Masquerade</a></li>
    <li><a href="{{ url("markup") }}">View Catalog Markup Example</a></li>
</ul>
{% endblock %}
