<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:catalog="http://www.middlebury.edu/course_catalog">
    <channel>
        <title>{{ title }}</title>
        <link>{{ feedLink }}</link>
        <lastBuildDate>{{ 'now' | date('r') }}</lastBuildDate>
        <generator>Course Catalog</generator>
        <docs>http://blogs.law.harvard.edu/tech/rss</docs>

{%~ for catalog in catalogs %}
        <item>
            <title>{{ catalog.displayname }}</title>
            <link>{{ url('view_catalog', {catalog: osidIdToString(catalog.id)}) }}</link>
            <description><![CDATA[{{ catalog.description | raw }}]]></description>
            <catalog:id>{{ osidIdToString(catalog.id) }}</catalog:id>
        </item>
{% endfor %}
    </channel>
</rss>
