<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Course Catalog{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}
        <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

        {% block javascripts %}
        <script type="text/javascript">
            // Allow templates to register asset paths globally.
            let assets = {
                {% block assets %}{% endblock %}
            };
        </script>

            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class=" " id="midd-pagetop">
        <aside class="cookie-banner js-cookie-banner is-toggled">
          <p>We use cookies and other technologies to better understand a visitor's experience and to help improve our websites. By continuing to use the website, you consent to Middlebury's use of cookies and other technologies as outlined in our <a href="#">Privacy Policy</a>.</p>
          <button class="cookie-banner__button cookie-banner__button--close" aria-label="Close cookie consent banner" data-toggle-target=".js-cookie-banner"> Close <svg class="icon ml-1 cookie-banner__button-icon " focusable="false" aria-hidden="true">
              <use xlink:href="#icon-times">
            </svg>
          </button>
        </aside>
        <nav aria-labelledby="midd-skip-link">
          <a href="#midd-main" class="sr-only sr-focusable" id="midd-skip-link">Skip to content</a>
        </nav>
        <div style="display:none">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-bars">
              <path d="M0 19h24v2H0zm0-8h24v2H0zm0-8h24v2H0z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-calendar">
              <path d="M8 4h8v2h3V4h4v19H1V4h4v2h3V4zM4 9v11h16V9H4zm12-8h3v3h-3V1zM5 1h3v3H5V1z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-calendar-alt">
              <path d="M8 4h8v3h3V4h4v19H1V4h4v3h3V4zM4 9v11h16V9H4zm12-8h3v3h-3V1zM5 1h3v3H5V1zm9.324 16.113c1.07 0 1.563-.451 1.563-1.118 0-.643-.405-.976-1.118-.976-.703 0-1.147.178-1.564.476l-1.67-.551v-4.648h6.197v1.55h-4.338v1.858c.543-.226.927-.523 1.76-.523 1.797 0 2.948.898 2.948 2.754 0 1.94-1.375 3.035-3.744 3.035-1.44 0-2.419-.618-3.443-1.238l.93-1.549c.797.476 1.586.93 2.479.93zm-7.127 1.549v-5.887h-1.24v-1.22c1.24-.06 1.66-.33 1.898-1.26h1.511v8.367H7.197z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-caret-down">
              <path d="M23 7 12 17 1 7z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-caret-left">
              <path d="M17 1 7 12l10 11z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-caret-right">
              <path d="m7 1 10 11L7 23z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-caret-up">
              <path d="M1 17 12 7l11 10z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-check">
              <path fill-rule="nonzero" d="M21.671 3 23 4.405 7.302 21 1 14.338l1.329-1.405 4.973 5.258z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-chevron-down">
              <path d="M4.079 7H1l11 10L23 7h-3.079L12 14.201 4.079 7z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-chevron-left">
              <path d="M17 19.921V23L7 12 17 1v3.079L9.799 12 17 19.921z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-chevron-right">
              <path d="M7 19.921V23l10-11L7 1v3.079L14.201 12 7 19.921z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-chevron-up">
              <path d="M4.079 17H1L12 7l11 10h-3.079L12 9.799 4.079 17z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-compass">
              <path d="M12 24C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12zm6-18-8 2.74L15.26 14 18 6zM6 18l8-2.74-1.162-1.163L8.72 15.28l1.182-4.117L8.74 10 6 18z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-discord">
              <path d="M20.33 4.464a19.918 19.918 0 0 0-4.951-1.517c-.234.417-.446.846-.634 1.284a18.575 18.575 0 0 0-5.495 0c-.19-.438-.4-.867-.635-1.284-1.71.292-3.377.803-4.955 1.52C.527 9.082-.323 13.582.102 18.018a19.977 19.977 0 0 0 6.073 3.035 14.74 14.74 0 0 0 1.3-2.088c-.71-.263-1.395-.59-2.048-.973.172-.124.34-.252.502-.376 3.845 1.8 8.297 1.8 12.142 0 .164.134.332.261.502.376-.653.385-1.34.71-2.052.975.374.73.808 1.428 1.3 2.086a19.885 19.885 0 0 0 6.077-3.033c.498-5.144-.851-9.603-3.568-13.556zM8.013 15.29c-1.183 0-2.161-1.07-2.161-2.384 0-1.316.944-2.394 2.157-2.394 1.214 0 2.184 1.078 2.164 2.394-.021 1.315-.954 2.384-2.16 2.384zm7.974 0c-1.186 0-2.16-1.07-2.16-2.384 0-1.316.944-2.394 2.16-2.394 1.215 0 2.178 1.078 2.157 2.394-.02 1.315-.951 2.384-2.157 2.384z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-envelope">
              <path d="M24 4.302V18a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4.302l12 10 12-10zM2.762 4h18.476L12 11.698 2.762 4z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-expand">
              <path clip-rule="evenodd" d="M15.1 1.95V.309h6.563v6.564h-1.64V3.107l-4.67 4.673-1.161-1.16 4.673-4.67H15.1zM7.808 6.62 3.134 1.95H6.9V.309H.336v6.564h1.641V3.107l4.671 4.675L7.81 6.62zM6.65 14.164l-4.677 4.681v-3.766H.332v6.564h6.564V20H3.13l4.681-4.677-1.16-1.161zm7.54 1.162 4.68 4.676h-3.767v1.64h6.564v-6.563h-1.64v3.766l-4.677-4.68-1.16 1.161z" />
            </symbol>
            <symbol fill="none" fill-rule="evenodd" viewBox="0 0 24 24" id="icon-external-link">
              <path d="M22.154 22.154H1.846V1.846h9.23V0H0v24h24V12.923h-1.846v9.23z" fill="#000" />
              <path d="M16.615 0v1.846h4.237L9.498 13.191l1.311 1.31L22.154 3.149v4.237H24V0h-7.385z" fill="#000" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-facebook">
              <path d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.35C0 23.407.593 24 1.325 24h11.494v-9.294H9.691v-3.622h3.128V8.413c0-3.1 1.893-4.788 4.659-4.788 1.324 0 2.463.098 2.795.143v3.24h-1.918c-1.504 0-1.795.715-1.795 1.763v2.313h3.586l-.467 3.622h-3.12V24h6.116c.732 0 1.325-.593 1.325-1.325V1.325C24 .593 23.407 0 22.675 0" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-github">
              <path clip-rule="evenodd" d="M12 .294c-6.63 0-12 5.37-12 12 0 5.304 3.44 9.798 8.206 11.39.597.11.818-.259.818-.583 0-.287-.007-1.039-.015-2.04-3.337.721-4.044-1.606-4.044-1.606-.545-1.385-1.333-1.76-1.333-1.76-1.09-.745.08-.73.08-.73 1.201.088 1.842 1.237 1.842 1.237 1.068 1.835 2.807 1.304 3.492.995.11-.774.42-1.304.759-1.606-2.66-.295-5.459-1.326-5.459-5.923 0-1.31.464-2.379 1.238-3.219-.125-.31-.538-1.525.11-3.175 0 0 1.01-.324 3.3 1.23A11.645 11.645 0 0 1 12 6.1c1.017.008 2.048.14 3.005.405 2.292-1.554 3.3-1.23 3.3-1.23.656 1.65.244 2.873.119 3.175.766.84 1.23 1.908 1.23 3.22 0 4.61-2.807 5.62-5.48 5.922.426.368.817 1.105.817 2.225 0 1.606-.015 2.895-.015 3.293 0 .324.214.692.825.574C20.567 22.092 24 17.598 24 12.302 24 5.665 18.63.294 12 .294z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-google-scholar">
              <g fill-rule="nonzero" fill="none">
                <path fill="#4285F4" d="M12 19.271 0 9.501 12 0z" />
                <path fill="#356AC3" d="m12 19.271 12-9.77L12 0z" />
                <path d="M12 24a7 7 0 1 0 0-14 7 7 0 0 0 0 14z" fill="#A0C3FF" />
                <path d="M5.673 14a7 7 0 0 1 12.653 0H5.673z" fill="#76A7FA" />
              </g>
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-google-scholar-monochrome">
              <path d="M11.5 8.84V.2L0 9.3l4.84 3.94a8.011 8.011 0 0 1 6.66-4.4zm1-8.64v8.64a8 8 0 0 1 6.66 4.41L24 9.3 12.5.2z" />
              <path d="M18.36 13.9c-.41-.89-1-1.68-1.72-2.32-.02-.02-.04-.03-.05-.05-.24-.21-.49-.4-.75-.57-.01-.01-.02-.01-.04-.02-.24-.16-.49-.29-.75-.42-.05-.03-.1-.05-.16-.08-.27-.13-.56-.24-.85-.33-.02-.01-.04-.01-.06-.02-.27-.08-.54-.14-.82-.18-.08-.01-.15-.03-.23-.04-.31-.04-.61-.07-.93-.07-.31 0-.62.03-.93.07-.08.01-.16.02-.23.04-.28.05-.55.11-.82.18-.02.01-.04.01-.06.02-.29.09-.57.2-.85.33-.05.02-.1.05-.16.08-.26.13-.51.26-.75.42-.01.01-.02.01-.04.02-.26.17-.51.37-.75.57-.02.02-.04.03-.05.05-.72.64-1.31 1.43-1.72 2.32-.41.88-.64 1.87-.64 2.9 0 3.87 3.13 7 7 7s7-3.13 7-7c0-1.03-.23-2.02-.64-2.9z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-images">
              <path d="M20 13v4h-4v4H0v-2h14v-7H2v7H0v-9h4V6h4V2h16v11h-4zm0-2h2V4H10v2h10v5zM6 10h10v5h2V8H6v2z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-info">
              <path d="M12 24C5.373 24 0 18.627 0 12S5.373 0 12 0s12 5.373 12 12-5.373 12-12 12zm2.514-17.448c0-.846-.576-1.35-1.368-1.35-1.116 0-1.746.918-1.746 1.728 0 .828.594 1.332 1.368 1.332a1.725 1.725 0 0 0 1.746-1.71zm-1.062 4.536c0-1.026-.72-1.71-1.728-1.71-1.404 0-2.412 1.116-3.24 3.06l.936.36c.486-1.08.9-1.782 1.296-1.782.144 0 .252.072.252.342 0 .918-1.494 3.564-1.494 5.04 0 1.116.774 1.782 1.854 1.782 1.278 0 2.358-.954 3.06-2.862l-.936-.324c-.522 1.206-.864 1.512-1.152 1.512-.18 0-.324-.09-.324-.36 0-.936 1.476-3.6 1.476-5.058z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-instagram">
              <path d="M18.406 4.154a1.44 1.44 0 1 0-.001 2.88 1.44 1.44 0 0 0 0-2.88" />
              <path d="M21.768 16.85c-.053 1.17-.249 1.804-.413 2.227-.218.56-.478.96-.898 1.38-.42.42-.82.68-1.38.898-.423.164-1.058.36-2.228.413-1.265.057-1.645.07-4.85.07-3.203 0-3.582-.013-4.848-.07-1.17-.053-1.805-.249-2.229-.413a3.72 3.72 0 0 1-1.379-.898 3.71 3.71 0 0 1-.897-1.38c-.165-.423-.36-1.058-.414-2.228-.058-1.266-.07-1.645-.07-4.85 0-3.203.012-3.582.07-4.848.054-1.17.25-1.805.414-2.229.217-.559.477-.959.897-1.379.42-.42.82-.68 1.38-.897.423-.165 1.058-.36 2.228-.414 1.266-.058 1.645-.07 4.849-.07s3.583.012 4.85.07c1.17.054 1.804.25 2.227.414.56.217.96.477 1.38.897.42.42.68.82.898 1.38.164.423.36 1.058.413 2.228.057 1.266.07 1.645.07 4.849s-.013 3.583-.07 4.85m2.16-9.798c-.059-1.277-.262-2.149-.558-2.912a5.856 5.856 0 0 0-1.384-2.125A5.896 5.896 0 0 0 19.861.63c-.764-.297-1.637-.5-2.914-.558C15.668.014 15.26 0 12 0S8.333.014 7.052.072C5.775.13 4.903.333 4.14.63a5.85 5.85 0 0 0-2.125 1.385A5.876 5.876 0 0 0 .63 4.14c-.297.763-.5 1.635-.558 2.912C.014 8.332 0 8.741 0 12c0 3.26.014 3.668.072 4.947.059 1.278.261 2.15.558 2.914a5.896 5.896 0 0 0 1.385 2.125A5.856 5.856 0 0 0 4.14 23.37c.763.296 1.635.5 2.912.558C8.332 23.987 8.741 24 12 24c3.26 0 3.668-.013 4.947-.072 1.277-.059 2.15-.262 2.914-.558a5.877 5.877 0 0 0 2.125-1.384 5.877 5.877 0 0 0 1.384-2.125c.296-.764.5-1.636.558-2.914C23.987 15.668 24 15.26 24 12s-.013-3.667-.072-4.948" />
              <path d="M12 16a4 4 0 1 1 .001-8A4 4 0 0 1 12 16m0-10.163a6.163 6.163 0 1 0 .002 12.326A6.163 6.163 0 0 0 12 5.837" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-linkedin">
              <path d="M20.45 20.45h-3.557v-5.569c0-1.329-.025-3.037-1.85-3.037-1.852 0-2.136 1.447-2.136 2.941v5.665H9.349V8.997h3.415v1.566h.049c.475-.901 1.635-1.85 3.368-1.85 3.605 0 4.27 2.372 4.27 5.457v6.28zM5.336 7.433a2.063 2.063 0 0 1-2.062-2.065 2.063 2.063 0 1 1 4.125 0c0 1.14-.924 2.065-2.063 2.065zM3.556 20.45h3.561V8.997h-3.56V20.45zM22.224 0H1.77C.794 0 0 .775 0 1.731v20.536C0 23.224.794 24 1.77 24h20.454c.979 0 1.774-.776 1.774-1.733V1.731C23.998.775 23.203 0 22.224 0z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-map-marker">
              <path d="M12 0c4.97 0 9 3.91 9 8.734S12 24 12 24 3 13.558 3 8.734 7.03 0 12 0zm3 9c0-1.655-1.346-3-3-3S9 7.345 9 9s1.346 3 3 3 3-1.345 3-3z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-mastodon">
              <path d="M23.292 5.314c-.35-2.579-2.621-4.612-5.317-5.006C17.52.24 15.8 0 11.812 0h-.03C7.79 0 6.936.243 6.483.308 3.865.692 1.474 2.517.893 5.126.616 6.412.585 7.836.637 9.144c.074 1.874.09 3.745.262 5.613.12 1.24.326 2.47.621 3.68.551 2.236 2.785 4.098 4.973 4.855 2.341.79 4.858.923 7.273.378.265-.061.53-.132.788-.212.585-.185 1.274-.39 1.778-.754a.08.08 0 0 0 .016-.018.058.058 0 0 0 .006-.025v-1.81s0-.015-.006-.02a.08.08 0 0 0-.016-.02.028.028 0 0 0-.021-.008h-.025a20.3 20.3 0 0 1-4.72.544c-2.735 0-3.47-1.283-3.683-1.818a5.594 5.594 0 0 1-.32-1.434c0-.01 0-.015.003-.025a.046.046 0 0 1 .016-.018.033.033 0 0 1 .021-.01h.025c1.52.364 3.077.545 4.643.545.375 0 .75 0 1.126-.009 1.572-.043 3.23-.123 4.778-.421a.981.981 0 0 0 .111-.025c2.44-.465 4.763-1.92 5-5.603.01-.145.03-1.52.03-1.67 0-.512.167-3.628-.024-5.545zm-3.757 9.193H16.97V8.29c0-1.308-.55-1.975-1.674-1.975-1.233 0-1.849.79-1.849 2.35v3.403h-2.55V8.664c0-1.56-.619-2.35-1.853-2.35-1.114 0-1.67.667-1.674 1.975v6.218H4.806V8.101c0-1.307.339-2.347 1.013-3.12.698-.769 1.612-1.163 2.747-1.163 1.314 0 2.308.499 2.97 1.499l.64 1.061.64-1.061c.661-.997 1.655-1.499 2.966-1.499 1.132 0 2.049.394 2.747 1.163.677.77 1.012 1.81 1.012 3.12v6.406h-.006z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 22 24" id="icon-middlebury-shield">
              <g fill-rule="nonzero">
                <path d="m10.884 24-.116-.056c-5.54-2.659-8.172-6.023-9.403-8.377C.02 12.995 0 11.075 0 10.994V0h21.756v10.994c0 .08-.015 2.001-1.356 4.572-1.227 2.355-3.855 5.72-9.399 8.377l-.117.057zM.543.543v10.45c0 .02.025 1.895 1.32 4.354 1.187 2.255 3.714 5.477 9.021 8.051 5.311-2.575 7.837-5.796 9.02-8.051 1.29-2.46 1.311-4.335 1.311-4.353V.543H.543z" />
                <path d="M6.965 4.087a2.407 2.407 0 0 0-.948-.76c.144.21.266.467.36.76h.588zm-1.71-.915v.913h.695c-.176-.476-.43-.8-.695-.913zM3.928 5.307h.92v-.815h-.815a4.302 4.302 0 0 0-.105.815zm.225-1.22h.695v-.913c-.265.11-.52.433-.695.913zm-.12 2.44h.815v-.815h-.92c.01.297.048.57.105.815zm.815 1.321v-.913h-.695c.174.478.43.802.695.913zM3.52 5.712h-.848c.024.29.102.563.22.815h.726a4.857 4.857 0 0 1-.098-.815zm2.55-1.22h-.815v.815h.92a4.624 4.624 0 0 0-.105-.815zm-2.452 0h-.726a2.362 2.362 0 0 0-.22.815h.848a4.88 4.88 0 0 1 .098-.815zM3.14 6.935c.244.328.57.59.947.759a2.92 2.92 0 0 1-.36-.76h-.588zm3.442-1.628h.848a2.374 2.374 0 0 0-.22-.815h-.727c.054.256.087.528.099.815zM4.087 3.328a2.407 2.407 0 0 0-.948.759h.587a2.92 2.92 0 0 1 .361-.76zm2.396 3.199h.726a2.34 2.34 0 0 0 .22-.815h-.847a4.857 4.857 0 0 1-.099.815z" />
                <path d="M11.114 1.206v.27a.565.565 0 0 1 .352.518.57.57 0 0 1-.352.519v.33c.311.112.872.385 1.128.936.24.517.283.965.287 1.211h.22v.474H9.005V4.99h.22a2.97 2.97 0 0 1 .287-1.21c.256-.552.817-.825 1.128-.94v-.329a.565.565 0 0 1-.352-.517.57.57 0 0 1 .352-.518v-.27H1.332v9.499s.001.428.142 1.139a9.45 9.45 0 0 0 .05-.017c1.019-.348 2.854-.943 4.07-.943 1.217 0 1.663.323 2.83.323.135 0 .264.003.392.007V9.079h4.124v2.204c.826-.024 1.44 0 2.185.133 1.03.187 1.663.855 2.394.968.732.111 1.378-.05 2.16-.013l.477.023c.265-1.037.265-1.691.265-1.691V1.206h-9.307zM5.052 8.305a2.798 2.798 0 0 1-2.795-2.794 2.798 2.798 0 0 1 2.795-2.794A2.798 2.798 0 0 1 7.846 5.51a2.798 2.798 0 0 1-2.794 2.794zm8.184.37H8.518v-.474h.715V5.87h3.288v2.333h.715v.472zm3.548-4.201c.493-.896 1.589-.915 1.589-.915.017-.018 0 2.726 0 2.726s-1.096.016-1.589.915V4.474zm-1.976-.937s1.085.018 1.572.915v2.725c-.487-.896-1.572-.914-1.572-.914s-.014-2.745 0-2.726zm4.398 3.209-2.605 1.528-2.607-1.528V3.794h.407v2.719l2.202 1.29 2.2-1.29V3.794h.407v2.952h-.004z" />
                <path d="M6.176 5.712h-.92v.815h.814c.056-.244.093-.518.106-.815zm-.921 2.136c.265-.111.52-.435.695-.913h-.695v.913zm.76-.154c.377-.167.703-.431.948-.76h-.587c-.095.293-.215.55-.361.76zm5.303 1.807h-.88v1.522h.88zm-1.034 8.701a1.482 1.482 0 0 0-.346-.18c-.132.071-.226.179-.226.332 0 .187.133.308.343.308.187 0 .316-.11.316-.269a.224.224 0 0 0-.087-.19zm-.226-.427c.119-.06.258-.152.258-.3 0-.143-.104-.228-.284-.228-.172 0-.285.094-.285.233 0 .156.185.243.311.295zm1.489-.521c-.104 0-.185.084-.235.226a1.363 1.363 0 0 0-.061.46c0 .179.013.318.037.418.048.209.144.298.257.298.113 0 .204-.096.252-.252a1.59 1.59 0 0 0 .052-.448c0-.174-.013-.294-.041-.411-.052-.211-.145-.29-.261-.29z" />
                <path d="M13.623 14.84v.009H8.142L4.17 17.336c1.415 1.73 3.533 3.535 6.709 5.055 3.183-1.524 5.303-3.331 6.716-5.065l-3.972-2.486zm-4.489 3.994h-.85v-.24h.312v-1.19c-.026.017-.11.07-.182.104a2.772 2.772 0 0 1-.204.089l-.072-.158.539-.377h.21v1.533h.25v.239h-.003zm.893.05c-.308 0-.633-.152-.633-.508 0-.216.144-.39.342-.46a.457.457 0 0 1-.287-.41c0-.34.317-.474.61-.474.336 0 .57.18.57.443 0 .22-.172.342-.358.413.26.107.424.235.424.459.002.344-.36.537-.668.537zm1.515-.011c-.473 0-.623-.55-.623-.934 0-.527.269-.909.624-.909.48 0 .63.528.63.917 0 .557-.257.926-.631.926zm1.5 0c-.473 0-.623-.55-.623-.934 0-.527.269-.909.624-.909.48 0 .63.528.63.917.002.557-.256.926-.632.926z" />
                <path d="M13.047 17.254c-.103 0-.185.084-.235.226a1.363 1.363 0 0 0-.061.46c0 .179.013.318.037.418.048.209.144.298.257.298.113 0 .204-.096.252-.252a1.59 1.59 0 0 0 .052-.448c0-.174-.013-.294-.04-.411-.052-.211-.143-.29-.262-.29zm.66-5.568h-5.66v.407h5.66zm-.699 2.619h-4.26v-1.637h4.26v1.637zm-3.855-.406H12.6v-.824H9.154v.824zm2.165-7.577h-.88v1.364h.88zm-1.354.002h-.27v1.363h.27zm2.096 0h-.27v1.363h.27zm-.924-4.33a.25.25 0 0 1-.257.245.25.25 0 0 1-.257-.245.25.25 0 0 1 .257-.244.25.25 0 0 1 .257.244zM8.133 13.375 3.428 16.34c.1.147.205.295.315.443l4.388-2.769v-.64h.002zm5.49.663 4.381 2.768c.11-.148.215-.296.317-.443l-4.698-2.966v.64z" />
              </g>
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-minus">
              <path fill="#0D395F" fill-rule="nonzero" d="M4 12.455V11h16v1.455z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-orcid">
              <g fill-rule="nonzero">
                <path d="M13.875 8.719h-2.222v7.444h2.297c3.272 0 4.022-2.485 4.022-3.722 0-2.016-1.284-3.722-4.097-3.722z" />
                <path d="M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12 12-5.372 12-12S18.628 0 12 0zM8.09 11.953v5.503H6.648V7.416H8.09v4.537zm-.72-5.681a.95.95 0 0 1-.947-.947c0-.525.422-.947.947-.947a.95.95 0 0 1 .947.947.95.95 0 0 1-.947.947zm6.76 11.194h-3.92V7.416h3.9c3.713 0 5.344 2.653 5.344 5.025 0 2.578-2.015 5.025-5.325 5.025z" />
              </g>
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-pause">
              <path clip-rule="evenodd" d="M9 3H7v18h2V3zm7 0h2v18h-2V3z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 32 32" id="icon-pause-homepage">
              <path clip-rule="evenodd" d="M13 8H9v16h4V8zm10 0h-4v16h4V8z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-pinterest">
              <path clip-rule="evenodd" d="M0 12c0 5.123 3.21 9.497 7.73 11.218-.11-.937-.227-2.482.025-3.566.217-.932 1.4-5.938 1.4-5.938S8.8 13 8.8 11.94c0-1.66.962-2.9 2.16-2.9 1.021 0 1.513.765 1.513 1.682 0 1.025-.653 2.557-.99 3.978-.281 1.189.597 2.159 1.769 2.159 2.123 0 3.756-2.24 3.756-5.471 0-2.861-2.056-4.86-4.991-4.86-3.398 0-5.393 2.549-5.393 5.184 0 1.027.395 2.127.889 2.726a.36.36 0 0 1 .083.343c-.091.377-.293 1.188-.332 1.355-.053.218-.173.265-.4.159-1.492-.694-2.424-2.875-2.424-4.627 0-3.77 2.737-7.23 7.892-7.23 4.144 0 7.365 2.954 7.365 6.9s-2.595 7.43-6.2 7.43c-1.21 0-2.347-.63-2.737-1.372 0 0-.6 2.282-.744 2.84-.282 1.084-1.064 2.456-1.549 3.235C9.584 23.815 10.77 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0 0 5.373 0 12z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-play">
              <path fill-rule="nonzero" d="M21 12 3 24V0z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 32 32" id="icon-play-homepage">
              <path d="m25 16-14 9V7l14 9z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-plus">
              <path d="M13 11h10v2H13v10h-2V13H1v-2h10V1h2v10z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-redo">
              <path d="M20.496 3.54 24 0v9.434h-9.434L18 6c-1.523-1.523-3.668-2.438-6-2.438A8.432 8.432 0 0 0 3.562 12 8.432 8.432 0 0 0 12 20.438a8.454 8.454 0 0 0 7.71-5.004l3.27 1.382A11.976 11.976 0 0 1 12 24C5.379 24 0 18.621 0 12S5.379 0 12 0c3.316 0 6.316 1.336 8.496 3.54z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 32 32" id="icon-replay-homepage">
              <path clip-rule="evenodd" d="M15.485 21.985c3.49.145 6.336-2.49 6.492-5.739.157-3.248-2.424-6.109-5.914-6.253a6.312 6.312 0 0 0-4.461 1.565l2.17 2.148h-6.78v-6.71l2.481 2.456a9.348 9.348 0 0 1 6.734-2.456c5.082.211 9.007 4.408 8.768 9.375-.24 4.966-4.553 8.822-9.635 8.61-4.025-.166-7.325-2.835-8.404-6.406h3.225c.943 1.92 2.917 3.31 5.324 3.41z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-scopus">
              <path d="M0 0v24h24V0H0zm9.825 14.421c0 2.15-1.84 3.235-3.595 3.235-1.255 0-2.168-.19-3.061-.602l.206-1.359c.878.534 1.634.791 2.786.791 1.17 0 2.15-.791 2.15-1.892 0-1.135-1.101-1.565-2.15-2.203-1.41-.858-2.957-1.616-2.957-3.37 0-1.755 1.29-3.131 3.406-3.131 1.479 0 2.132.173 3.045.55L9.568 7.8c-.982-.585-1.755-.757-2.873-.757-1.29 0-1.944.98-1.944 1.875 0 1.203 1.153 1.65 2.236 2.305 1.394.826 2.84 1.565 2.838 3.198zm7.617 2.032c1.12 0 2.237-.224 3.287-.792l.102 1.308c-.928.464-2.098.654-3.508.654-2.804 0-5.814-2.064-5.814-5.832 0-3.302 2.528-5.9 5.865-5.9 1.737 0 2.511.207 3.457.654l-.102 1.29c-1.031-.569-2.116-.791-3.526-.791-2.237 0-4.146 1.771-4.146 4.644 0 2.717 1.943 4.765 4.385 4.765z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-search">
              <path d="M17.193 18.59A10.457 10.457 0 0 1 10.5 21C4.701 21 0 16.299 0 10.5S4.701 0 10.5 0 21 4.701 21 10.5a10.45 10.45 0 0 1-2.41 6.693c.041.03.08.063.117.1l5.013 5.013a1 1 0 0 1-1.414 1.414l-5.013-5.013a1.008 1.008 0 0 1-.1-.116zM10.5 19a8.5 8.5 0 1 0 0-17 8.5 8.5 0 0 0 0 17z" fill-rule="nonzero" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-threads">
              <path d="M18.067 11.124a7.187 7.187 0 0 0-.314-.143c-.186-3.413-2.05-5.367-5.183-5.387h-.043c-1.873 0-3.43.8-4.39 2.255L9.86 9.03c.716-1.086 1.84-1.319 2.669-1.319h.028c1.032.006 1.81.306 2.313.891.366.427.611 1.014.732 1.757a13.156 13.156 0 0 0-2.96-.143c-2.977.171-4.89 1.908-4.763 4.322.065 1.223.675 2.277 1.717 2.965.881.58 2.015.866 3.195.8 1.558-.084 2.779-.68 3.631-1.765.648-.825 1.057-1.894 1.238-3.242.742.448 1.293 1.038 1.596 1.747.517 1.203.546 3.183-1.069 4.797-1.415 1.414-3.116 2.025-5.686 2.044-2.851-.021-5.007-.935-6.41-2.718-1.312-1.669-1.991-4.08-2.016-7.165.025-3.085.704-5.496 2.016-7.165C7.494 3.054 9.65 2.14 12.501 2.12c2.872.021 5.066.94 6.522 2.731.713.879 1.25 1.982 1.606 3.27l2.018-.539c-.43-1.585-1.106-2.951-2.027-4.084C18.755 1.201 16.025.025 12.509 0h-.014c-3.51.024-6.209 1.205-8.021 3.51C2.86 5.561 2.027 8.415 2 11.991v.018c.027 3.577.86 6.431 2.474 8.481 1.812 2.305 4.511 3.485 8.021 3.51h.014c3.12-.021 5.319-.839 7.131-2.649 2.37-2.368 2.299-5.336 1.517-7.158-.56-1.307-1.628-2.368-3.09-3.07zm-5.387 5.065c-1.305.073-2.661-.513-2.727-1.768-.05-.93.662-1.968 2.807-2.092.246-.014.486-.022.724-.022.78 0 1.508.077 2.171.22-.247 3.088-1.697 3.59-2.975 3.66v.002z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-tiktok">
              <path d="M22.261 9.716c-.193.012-.385.025-.59.025-2.246 0-4.21-1.155-5.365-2.9v9.87c0 4.03-3.26 7.289-7.29 7.289s-7.29-3.26-7.29-7.29 3.26-7.29 7.29-7.29c.154 0 .295.013.45.026v3.594c-.155-.013-.296-.052-.45-.052a3.725 3.725 0 0 0-3.722 3.722 3.725 3.725 0 0 0 3.722 3.722c2.053 0 3.876-1.617 3.876-3.67L12.931 0h3.439a6.392 6.392 0 0 0 5.904 5.711v3.992l-.013.013z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-times">
              <path d="m13.414 12 8.485 8.485-1.414 1.414L12 13.414 3.515 21.9 2.1 20.485 10.586 12 2.1 3.515 3.515 2.1 12 10.586 20.485 2.1 21.9 3.515 13.414 12z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-twitter">
              <path d="M23.333 1.394c-.946.604-2 1.05-3.133 1.286C19.307 1.643 18.027 1 16.613 1c-2.72 0-4.92 2.376-4.92 5.303 0 .42.04.827.12 1.208-4.093-.223-7.72-2.337-10.146-5.54A5.57 5.57 0 0 0 1 4.636c0 1.838.867 3.466 2.187 4.41A4.676 4.676 0 0 1 .96 8.392v.065c0 2.573 1.693 4.713 3.947 5.198a4.734 4.734 0 0 1-2.227.092c.627 2.1 2.453 3.637 4.6 3.676-1.68 1.43-3.8 2.27-6.107 2.27-.4 0-.8-.025-1.173-.065 2.173 1.497 4.76 2.376 7.547 2.376 9.053 0 14-8.073 14-15.083l-.014-.682c.974-.749 1.8-1.68 2.467-2.757a9.232 9.232 0 0 1-2.827.84c1.014-.656 1.787-1.693 2.16-2.927" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-vimeo">
              <path d="M13.76 7.639c2.742-1.655 4.207.67 2.805 3.285-1.403 2.615-2.679 4.334-3.348 4.334-.67 0-1.188-1.756-1.946-4.827-.796-3.159-.796-8.87-4.082-8.213C4.081 2.825 0 7.702 0 7.702l.973 1.276s2.009-1.592 2.679-.796c.67.796 3.234 10.361 4.08 12.13.746 1.541 2.806 3.588 5.055 2.123 2.262-1.453 9.754-7.86 11.094-15.415 1.34-7.544-9.022-5.964-10.121.619" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-volume-mute">
              <path d="M3.434 8.134 11 2.022v19l-7.566-6.02H0V8.133zM18.414 12l2.122 2.121-1.415 1.415L17 13.414l-2.121 2.122-1.415-1.415L15.586 12l-2.122-2.121 1.415-1.415L17 10.586l2.121-2.122 1.415 1.415L18.414 12z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-volume-up">
              <path d="M23.135 12.01c0 4.183-1.818 8.14-4.99 10.84a.697.697 0 0 1-.44.172.686.686 0 0 1-.538-.247.69.69 0 0 1 .065-.958 12.894 12.894 0 0 0 4.526-9.807c0-3.764-1.645-7.345-4.526-9.808a.69.69 0 0 1-.065-.957c.236-.301.688-.323.978-.075a14.212 14.212 0 0 1 4.99 10.84zm-6.86 8.775a.635.635 0 0 1-.442.172.7.7 0 0 1-.537-.247c-.247-.29-.194-.71.097-.958a10.195 10.195 0 0 0 3.537-7.742c0-2.98-1.28-5.797-3.559-7.743a.69.69 0 0 1-.075-.957.686.686 0 0 1 .978-.076 11.522 11.522 0 0 1 4.033 8.776c0 3.387-1.452 6.592-4.033 8.775zm-1.646-2.753a.636.636 0 0 1-.44.172.617.617 0 0 1-.517-.247.662.662 0 0 1 .076-.957 6.596 6.596 0 0 0 2.28-4.99 6.596 6.596 0 0 0-2.28-4.99.662.662 0 0 1-.076-.957.662.662 0 0 1 .957-.075c1.775 1.494 2.774 3.71 2.774 6.022 0 2.312-1 4.527-2.774 6.022zM3.434 8.134 11 2.022v19l-7.566-6.02H0V8.133h3.434z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-warning">
              <path d="M11 0h2v16h-2V0zm0 20h2v4h-2v-4z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-wechat">
              <path d="M19.18 13.97a.954.954 0 0 1-.963-.945c0-.524.431-.947.964-.947.533 0 .963.423.963.947 0 .523-.43.946-.963.946zm-4.818 0a.954.954 0 0 1-.964-.945c0-.524.431-.947.964-.947.533 0 .963.423.963.947 0 .523-.43.946-.963.946zm7.14 5.418C23.027 18.303 24 16.7 24 14.917c0-3.268-3.237-5.916-7.23-5.916-3.992 0-7.227 2.648-7.227 5.916 0 3.268 3.236 5.917 7.228 5.917.825 0 1.62-.117 2.359-.325a.709.709 0 0 1 .212-.03c.138 0 .265.041.383.109l1.582.898a.27.27 0 0 0 .14.043.24.24 0 0 0 .241-.237c0-.058-.023-.116-.04-.173l-.325-1.193a.474.474 0 0 1 .178-.536" />
              <path d="M11.565 8.434c-.64 0-1.156-.509-1.156-1.135 0-.627.518-1.135 1.156-1.135.638 0 1.156.508 1.156 1.135 0 .626-.518 1.135-1.156 1.135zm-5.782 0a1.146 1.146 0 0 1-1.156-1.135c0-.627.518-1.135 1.156-1.135.637 0 1.155.508 1.155 1.135 0 .626-.518 1.135-1.155 1.135zM8.675 2.47C3.884 2.47 0 5.65 0 9.57c0 2.14 1.169 4.064 2.997 5.365a.567.567 0 0 1 .244.464.615.615 0 0 1-.032.18l-.39 1.433c-.019.068-.047.137-.047.208 0 .157.13.285.29.285a.331.331 0 0 0 .167-.054l1.9-1.077a.925.925 0 0 1 .46-.13c.088 0 .174.012.254.037a10.434 10.434 0 0 0 3.308.377 5.367 5.367 0 0 1-.29-1.74c0-3.575 3.541-6.475 7.911-6.475.158 0 .316.004.472.012-.656-3.392-4.242-5.985-8.57-5.985z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-weibo">
              <path d="M18.028 11.627c-.338-.106-.57-.173-.394-.63.384-.99.424-1.846.006-2.459-.778-1.145-2.91-1.084-5.354-.031 0 0-.768.344-.57-.279.374-1.244.318-2.282-.265-2.886-1.324-1.366-4.851.052-7.874 3.161C1.315 10.83 0 13.3 0 15.436 0 19.516 5.09 22 10.067 22c6.527 0 10.869-3.9 10.869-6.997.003-1.873-1.53-2.936-2.908-3.376zm-7.944 8.908C6.11 20.94 2.68 19.09 2.421 16.41c-.258-2.685 2.756-5.185 6.725-5.59 3.975-.406 7.405 1.444 7.66 4.125.261 2.684-2.752 5.188-6.723 5.59h.001zM22.362 4.157a6.239 6.239 0 0 0-6.046-2.013c-.497.109-.811.613-.706 1.12a.917.917 0 0 0 1.09.727A4.438 4.438 0 0 1 21 5.42a4.745 4.745 0 0 1 .944 4.545.95.95 0 0 0 .592 1.189c.484.16 1-.113 1.156-.606v-.004c.675-2.142.248-4.592-1.328-6.387z" />
              <path d="M19.59 10.044a.787.787 0 0 0 .997-.525 3.247 3.247 0 0 0-.646-3.113 3.031 3.031 0 0 0-2.944-.978c-.428.093-.699.528-.609.968.092.44.513.718.937.623a1.49 1.49 0 0 1 1.44.478 1.59 1.59 0 0 1 .316 1.522.82.82 0 0 0 .51 1.025zm-9.112 2.841c-1.89-.508-4.027.463-4.848 2.177-.838 1.747-.027 3.69 1.88 4.323 1.981.657 4.313-.351 5.123-2.235.802-1.846-.199-3.743-2.155-4.264v-.001zm-1.444 4.462c-.384.63-1.208.906-1.827.616-.609-.286-.791-1.018-.407-1.635.38-.613 1.176-.886 1.792-.62.622.276.821 1.001.443 1.639zm1.269-1.67c-.139.245-.447.361-.685.259-.239-.099-.312-.375-.176-.614.14-.238.434-.353.67-.258.238.088.324.364.192.613h-.001z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-x">
              <path d="M14.278 10.163 23.209 0h-2.113l-7.76 8.821L7.14 0H0l9.362 13.347L0 24h2.113l8.19-9.322L16.84 24h7.139l-9.702-13.837zm-2.894 3.294-.951-1.332-7.55-10.563h3.255l6.097 8.53.942 1.332 7.92 11.094h-3.255l-6.458-9.051v-.01z" />
            </symbol>
            <symbol fill-rule="evenodd" viewBox="0 0 24 24" id="icon-youtube">
              <path d="M23.498 6.655C24 8.548 24 12.5 24 12.5s0 3.951-.502 5.846a3.024 3.024 0 0 1-2.121 2.147C19.505 21 12 21 12 21s-7.505 0-9.377-.507a3.024 3.024 0 0 1-2.122-2.147C0 16.45 0 12.5 0 12.5s0-3.952.501-5.845a3.024 3.024 0 0 1 2.122-2.147C4.495 4 12 4 12 4s7.505 0 9.377.508a3.023 3.023 0 0 1 2.121 2.147zM9.6 15.56l6.171-3.4L9.6 8.76v6.8z" />
            </symbol>
          </svg>
        </div>
        <div class="site-container">
          <header class="app-header">
            <div class="app-header__wrap app-header__wrap--main">
              <div class="app-header__logo">
                <a href="https://www.middlebury.edu/">
                  <img src="{{ asset('midd-frontend/images/midd-shield.svg') }}" srcset="{{ asset('midd-frontend/images/midd-shield.svg') }} 67w" sizes="(min-width: 1024px) 67px, 44px" alt="Middlebury Shield" />
                </a>
              </div>
              <p class="app-header__title" id="midd-app-header-label">
                <a href="{{ path('home') }}" class="app-header__link">Course Catalog</a>
            </div>
            <div class="app-header__secondary">
              <div class="app-header__wrap">
                <div class="app-header__dropdown">
                  <button class="app-header__button d-lg-none" data-toggle-target=".js-app-nav" data-toggle-group="app-header" aria-label="Open navigation">
                    <svg class="icon toggled-hide " focusable="false" aria-hidden="true">
                      <use xlink:href="#icon-bars">
                    </svg>
                    <svg class="icon toggled-show " focusable="false" aria-hidden="true">
                      <use xlink:href="#icon-times">
                    </svg>
                    <span class="ml-1">Menu</span>
                  </button>
                  <div class="app-header__nav js-app-nav">
                    {% set selectedCatalogId = selectedCatalogId is defined ? selectedCatalogId : null %}
                    {{ knp_menu_render('main', {template: 'menu-top.html.twig', currentClass: 'nav__item--active', branch_class: 'nav-dropdown' }) }}
                  </div>
                </div>
              </div>
            </div>
          </header>
          <main class="main" id="midd-main" aria-labelledby="midd-page-header-label">
            <div class="container px-0">
              <header class="page-header page-header--app">
                <div class="page-header__main">
                  <div class="page-header__content">
                    <nav class="breadcrumb " aria-label="Breadcrumb">
                      <ol class="breadcrumb__list">
                        <li class="breadcrumb__item">
                          <a href="{{ path('home') }}" class="breadcrumb__link">Course Catalog</a>
                        </li>
                        <li class="breadcrumb__item">
                          <a href="" class="breadcrumb__link">Schools and Programs</a>
                        </li>
                        <li class="breadcrumb__item">
                          <a href="" class="breadcrumb__link">Middlebury College</a>
                        </li>
                        <li class="breadcrumb__item">
                          <a href="" class="breadcrumb__link">Spring 2019</a>
                        </li>
                        <li class="breadcrumb__item">
                          <a href="" class="breadcrumb__link">American Studies</a>
                        </li>
                      </ol>
                    </nav>
                    <h1 class="page-header__title" id="midd-page-header-label">{% block page_title %}{{ page_title }}{% endblock %}</h1>
                  </div>
                </div>
              </header>
            </div>
            <div class="container">
              <div class="row">
                {% set showLeftNav = not (app.request.requestUri matches '#^/admin#') %}
                {% if showLeftNav %}
                <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0 mb-4">
                  {% set secondaryMenu = knp_menu_get('secondary', [], {'selectedCatalogId': selectedCatalogId is defined and selectedCatalogId is not empty ? selectedCatalogId : catalogId is defined ? catalogId }) %}
                  {{ knp_menu_render(secondaryMenu, {template: 'menu-left.html.twig', currentClass: 'page--nav__item--active'}) }}
                  <div class="js-sidebar"></div>
                </div>
                {% endif %}
                <div class="col-md-10 offset-md-1 col-lg-2 offset-lg-0 order-lg-last mb-4 pl-lg-0">
                    {% block content_controls %}{% endblock %}
                </div>
                <div class="col-md-10 {{ showLeftNav ? 'offset-md-1 col-lg-7' : 'col-lg-12' }} offset-lg-0">
                  {% block content_heading %}{% endblock %}
                  <div class="typography mb-7">
                    {% block body %}{% endblock %}
                  </div>
                </div>
              </div>
            </div>
          </main>
          <nav class="midd-footer">
            <h2 class="sr-only"> Additional Navigation </h2>
            <div class="container px-0">
              <div class="col-lg-3">
                <div class="mb-4 mb-lg-0">
                  <a href="https://www.middlebury.edu">
                    <img src="{{ asset('midd-frontend/images/middlebury-logo-white.svg') }}" alt="Middlebury" width="195" height="71" />
                  </a>
                </div>
              </div>
              <div class="col-lg-9">
                <ul class="midd-footer__list">
                  <li class="midd-footer__item">
                    <a href="https://www.middlebury.edu/about" class="midd-footer__link"> About Middlebury </a>
                  </li>
                  <li class="midd-footer__item">
                    <a href="https://www.middlebury.edu/giving" class="midd-footer__link"> Giving </a>
                  </li>
                  <li class="midd-footer__item">
                    <a href="https://www.middlebury.edu/offices/business/hr/jobseeker" class="midd-footer__link"> Employment </a>
                  </li>
                  <li class="midd-footer__item">
                    <a href="https://www.middlebury.edu/office/" class="midd-footer__link"> Offices and Services </a>
                  </li>
                  <li class="midd-footer__item">
                    <a href="https://www.middlebury.edu/about/copyright" class="midd-footer__link"> Copyright </a>
                  </li>
                  <li class="midd-footer__item">
                    <a href="https://www.middlebury.edu/about/privacy" class="midd-footer__link"> Privacy </a>
                  </li>
                  <li class="midd-footer__item">
                    <a href="https://www.middlebury.edu/emergency-response" class="midd-footer__link"> Emergency </a>
                  </li>
                  <li class="midd-footer__item">
                    <a href="#" class="midd-footer__link"> Site-Editor login </a>
                  </li>
                </ul>
              </div>
            </div>
            <a href="#midd-pagetop" class="button button--sm to-top-btn js-to-top-btn">
              <svg class="icon mb-1 " focusable="false" aria-hidden="true">
                <use xlink:href="#icon-caret-up">
              </svg>
              <span class="text-caps d-block">
                <span class="sr-only">Back to</span> Top </span>
            </a>
          </nav>
        </div>
    </body>
</html>
