{% extends 'base.html.twig' %}

{% block body %}
{{ include('schedules/bookmark_control.html.twig', {course_id: course.id}, with_context = false) }}

<div>{{ course.displayname }}</div>
<h2>{{ course.title }}</h2>
{% if course.description %}
<div>{{ course.description|raw }}</div>
{% endif %}
<dl class='course_info'>
    <dt>Subject:</dt>
    <dd>
    {% for topic in subjectTopics %}
        <a href='{{ url('view_topic', {topic: osidIdToString(topic.id), term: term ? osidIdToString(term.id)}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
    {% endfor %}
    </dd>

    <dt>Department:</dt>
    <dd>
    {% for topic in departmentTopics %}
        <a href='{{ url('view_topic', {topic: osidIdToString(topic.id), term: term ? osidIdToString(term.id)}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
    {% endfor %}
    </dd>

    <dt>Division:</dt>
    <dd>
    {% for topic in divisionTopics %}
        <a href='{{ url('view_topic', {topic: osidIdToString(topic.id), term: term ? osidIdToString(term.id)}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
    {% endfor %}
    </dd>

    <dt>Requirements Fulfilled:</dt>
    <dd>
    {% for topic in requirementTopics %}
        <a href='{{ url('view_topic', {topic: osidIdToString(topic.id), term: term ? osidIdToString(term.id)}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
    {% endfor %}
    </dd>

{% if blockTopics is not empty %}
    <dt>Additional Details:</dt>
    <dd>
    {% for topic in blockTopics %}
        <a href='{{ url('view_topic', {topic: osidIdToString(topic.id), term: term ? osidIdToString(term.id)}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
    {% endfor %}
    </dd>
{% endif %}

{% if levelTopics is not empty %}
    <dt>Levels:</dt>
    <dd>
    {% for topic in levelTopics %}
        <a href='{{ url('view_topic', {topic: osidIdToString(topic.id), term: term ? osidIdToString(term.id)}) }}'>{{ topic.displayname }}</a>{{ not loop.last ? ',' }}
    {% endfor %}
    </dd>
{% endif %}

{% if alternates is not empty %}
    <dt>Equivalent Courses:</dt>
    <dd>
    {% for alternate in alternates %}
        <a href='{{ url('view_course', {course: osidIdToString(alternate.id), term: term ? osidIdToString(term.id)}) }}'>{{ alternate.displayname }}</a>
        {{ alternate.is_primary ? ' * ' }}
        <br/>
    {% endfor %}
    </dd>
{% endif %}

</dl>

{{ include(
    'partials/offerings.html.twig',
    {
        offerings: offerings,
        term: term,
        offeringsForAllTermsUrl: url('view_course', {course: osidIdToString(course.id)}),
        hideOfferingInstructors: FALSE,
        selectedOffering: NULL
    },
    with_context = false
)}}
{% endblock %}
